<header class="site-header"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="navbar">

    <div class="container">
        <nav class="navbar">

            <a class="brand" href="/products">
                <span class="brand-mark"></span>
                RedShop
            </a>

            <div class="nav-links">

                <a class="nav-link"
                   href="/products">
                    Products
                </a>

                <a class="nav-link"
                   href="/cart">
                    Cart
                </a>

                <a class="nav-link"
                   href="/orders">
                    My Orders
                </a>

                <a class="nav-link"
                   href="/account">
                    My Account
                </a>

            </div>

        </nav>
    </div>

</header>