<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Admin - Orders</title>

</head>

<body>

<h1>RedShop Admin</h1>

<h2>Orders</h2>

<table border="1">

    <thead>

    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Total</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Actions</th>
    </tr>

    </thead>

    <tbody>

    <tr th:each="order : ${orders}">

        <td th:text="${order.id}">
            1
        </td>

        <td th:text="${order.user.username}">
            ehsan
        </td>

        <td th:text="${order.total}">
            100.00
        </td>

        <td th:text="${order.status}">
            PENDING
        </td>

        <td th:text="${order.createdAt}">
            2026-09-22T15:00
        </td>

        <td>

            <a
                    th:href="@{/admin/orders/{id}(id=${order.id})}">
                View
            </a>

        </td>

    </tr>

    </tbody>

</table>

<br>

<a href="/admin">
    Back to Dashboard
</a>

</body>
</html>